<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form class="form" [formGroup]="loginForm">
    <ion-item>
      <p>{{message}}</p>
    </ion-item>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text" formControlName="email" [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').touched || loginForm.get('email').dirty)">
          {{validation.message}}
        </div>
      </ng-container>
    </div>



    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" formControlName="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').touched || loginForm.get('password').dirty)">
          {{validation.message}}
        </div>
      </ng-container>
    </div>

    <button ion-button block [disabled]="!loginForm.valid" (click)="login(user)">Login</button>
    <button ion-button block color="fau-red" (click)="register()">Register</button>

  </form>

</ion-content>