<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- Holder for throwing errors
  <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.email">
      <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && validations_form.get('email').dirty || validations_form.get('email').touched)">
        {{validation.message}}
      </div>
    </ng-container>
  </div>
  -->
  {{message}}
  {{email.value}}
  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="text" [formControl]="email" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>

  <button ion-button block (click)="login(user)">Login</button>
  <button ion-button block color="fau-red" (click)="register()">Register</button>

</ion-content>