<ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <form [formGroup]="registerForm">

    <ion-item>
      <ion-label floating>First Name</ion-label>
      <ion-input type="text" formControlName="first" [(ngModel)]="user.first"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input type="text" formControlName="last" [(ngModel)]="user.last"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>Email Address</ion-label>
      <ion-input type="text" formControlName="email" [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <div class="validation-error" *ngIf="registerForm.get('email').invalid && registerForm.get('email').dirty">
      {{email_error}}
    </div>


    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" formControlName="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>

    <div class="validation-error" *ngIf="registerForm.get('password').invalid && registerForm.get('password').dirty">
      {{pass_error}}
    </div>


    <ion-item *ngIf="registerForm.invalid">
      <p class="pass-text">Password must be at least eight characters including a<br>
        number an uppercase letter and a lowercase letter.</p>
    </ion-item>

    <div *ngIf="registerForm.valid" class="register-button">
      <button ion-button block color="fau-red" [disabled]="registerForm.invalid" (click)="register(user)">Register</button>
    </div>

  </form>

</ion-content>