$font-path: "../assets/fonts";

$app-direction: ltr;


@import "ionic.globals";




$colors: (
  primary:    #002D62,
  secondary:  #C10435,
  light:      #4E6689,
  dark:       #222,
  danger:     #C10435,
);

//change the title color
$toolbar-md-title-text-color: map-get($colors, primary);
$toolbar-ios-title-text-color: map-get($colors, primary);
$toolbar-wp-title-text-color: map-get($colors, primary);

@import "ionic.theme.default";
@import "ionic.ionicons";




// Fonts
@import "roboto";
@import "noto-sans";
